body {
    font-family: "Roboto";
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ------------------header--------------------- */



.nav-list {
    
}
.nav-item {

}
.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #212121;
}

.nav-link:hover, .nav-link:focus {
    color: #2196F3;
    cursor: pointer;
}

.header-phone {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #757575;
}

.header-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
}

.header-mail {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}